.array-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    padding: 2vh 2vw;
    text-align: center;
}
.array-element {
    display: inline-block;
}